@import "colors.css";

* {
    font-family: "JetBrainsMono NFM";
}

window#waybar {
    font-size: 12px;
    background-color: @surface;
    border-radius: 2em;
    border: 1px solid @outline;
    margin: 6px 0;
}

#language {
    color: @secondary;
    padding-left: 6px;
    border-radius: 2em;
    margin-left: 3px;
    margin-right: 6px;
}

#clock {
    color: @primary;
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 2em;
}

/* ICON ONLY MODULES */
#cpu,
#memory,
#network,
#group-power,
#backlight,
#wireplumber {
    color: @primary;
    font-size: 20px;
    margin-left: 6px;
    margin-right: 6px;
}

#battery {
    color: @primary;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
}

#language {
    padding-left: 12px;
    padding-right: 12px;
}

#clock {
    padding-right: 12px;
}

#workspaces {
    border-radius: 2em;
    background-color: @surface_container_high;
    margin: 6px 0;
    padding: 0;
}

#workspaces button {
    font-size: 16px;
    background-color: @transparent;
    padding: 0 3px;
    color: @on_surface_variant;
}

#workspaces button:first-child {
    padding-left: 6px;
}

#workspaces button:last-child {
    padding-right: 6px;
}

#workspaces button.active {
    color: @primary;
}

#group-power {
    background-color: @error_container;
    border-radius: 2em;
    padding-left: 6px;
    padding-right: 6px;
    margin: 6px;
}

#custom-power {
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-quit,
#custom-lock,
#custom-reboot {
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
}

.modules-right {
    background-color: @surface_container;
    margin: 1px;
    padding-left: 6px;
    border-radius: 2em;
}
