@define-color none rgba(255, 255, 255, 0.01);
@define-color bg rgba(22, 24, 26, 0.25);
@define-color fg rgba(255, 255, 255, 1);
@define-color background-accent rgba(255, 255, 255, 0.15);
@define-color label rgba(94, 255, 108, 1);
@define-color value rgba(255, 255, 255, 0.8);
@define-color border rgba(255, 94, 241, 0.5);

* {
    font-family: "JetBrains Mono";
    font-size: .75rem;

    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, .01);
}

#custom-user-label, #custom-user {
    background-color: @none;
}


#custom-user-label {
    border-radius: 8px 0 0 8px;
    padding-left: 1em;
    padding-right: 0.5em;
    color: @label;
}

#custom-user {
    padding-left: 0.5em;
    padding-right: 1em;
    color: @value;
}

#workspaces {
    margin-left: .5em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: @none;
}
