@define-color none rgba(255, 255, 255, 0.01);
@define-color bg rgba(22, 24, 26, 0.25);
@define-color fg rgba(255, 255, 255, 1);
@define-color background-accent rgba(255, 255, 255, 0.15);
@define-color label rgba(94, 255, 108, 1);
@define-color value rgba(255, 255, 255, 0.8);
@define-color border rgba(255, 94, 241, 0.5);

* {
    font-family: "JetBrains Mono";
    font-size: .75rem;

    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

window#waybar {
    background-color: @bg;
    /* border: 1px solid @border; */
    border-radius: 6px;
}

.modules-left, .modules-center, .modules-right {
    /* background-color: @background; */
    border-radius: 4px;
}

/* all non-last modules */
#custom-user,
#custom-time,
#custom-brightness,
#wireplumber,
#memory,
#cpu,
#network,
#battery {
    border-right: 1px solid @background-accent;
}

/* labels */
#custom-user-label,
#custom-wp-label,
#custom-br-label,
#custom-mem-label,
#custom-cpu-label,
#custom-nw-label,
#custom-bat-label,
#custom-loc-label,
#custom-time,
#clock {
    color: @label;
    padding-left: .8rem;
    padding-right: .8rem;
}

/* increase icon size */
#custom-user-label,
#custom-wp-label,
#custom-br-label,
#custom-mem-label,
#custom-cpu-label,
#custom-nw-label,
#custom-bat-label,
#custom-loc-label {
    font-size: .9rem;
}

#custom-user,
#custom-time,
#clock,
#wireplumber,
#custom-brightness,
#memory,
#cpu,
#network,
#battery,
#language {
    color: @value;
    padding-right: 1em;
}

#workspaces {
    padding-left: .5em;
}

#workspaces button {
    padding: 0em 0em;
    font-style: italic;
    color: @value;
}

#workspaces button.active {
    font-weight: 900;
    font-style: normal;
    color: @label;
}
